@{
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}

<h1>Members Only Area </h1>
<p>Congratulations, <b>
	You have completed the OpenID login process.
</p>
<p>
	<a href="/openid/logout">Logout</a>
</p>

