

@{
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}

<h2>Are you sure you want to delete your account?</h2>
<p>This action can not be undone.</p>
<p>@Html.ActionLink("Yes I'm sure. Delete my account", "DeleteParent", null, new { @class = "warning" })</p>


