

@{
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}

<h2>Administer your account</h2>
<p>To delete your account, including your children's accounts, click the button below.</p>
<p>@Html.ActionLink("Delete My Account", "DeleteParentConfirm")</p>

<p>To change your password, click the button below.</p>
<p>@Html.ActionLink("Change my password", "ChangePassword")</p>


