@model WithdrawCashViewModel

@{
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}

<h2>Withdrawl Confirmed</h2>
<p>A message has been sent to your parent asking for the amount of @Model.Amount.ToString("c"). Ask them to check their messages.</p>
<p>@Html.ActionLink("Back to your account", "ChildView", "Account")</p>

