@model Child

<ul id="menu">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("My Account", "ChildView", "Account")</li>
    <li>@Html.ActionLink("Withdraw Cash", "WithdrawCash", "Account")</li>
    <li>@Html.ActionLink("About", "About", "Home")</li>
</ul>

