<ul>
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("My Account", "ChildView", "Account")</li>
    <li>@Html.ActionLink("Withdraw Cash", "WithdrawCash", "Account")</li>
</ul>

