<ul id="menu">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("My Messages", "Messages", "User")</li>
    <li>@Html.ActionLink("Children", "Index", "Child")</li>
</ul>

