

@{
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}

<h2>Activation Failed</h2>
<p>We are very sorry, but we didn't recognise your activation key.</p>
<p>Please try again, making sure you copy the URL exactly into your browser.</p>
<p> it still doesn't work, contact us at 
<a href="mailto:info@tardisbank.com?subject=I%20could%20not%20activate%20my%20account">info@tardisbank.com</a></p>


