

@{
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}

<h2>Congratulations!</h2>
<p>You are now registered at Tardis Bank. Your next step is to create accounts for your kids.</p>
<p>@Html.ActionLink("Add a Child Account", "AddChild")</p>



