@{
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}

<h2>Now check your email</h2>
<p>You should have recieved an email from us with a link to an activation page. Just click on the link to activate your account</p>
<p>If you don't get the email, please contact us at <a href="mailto:info@tardisbank.com?subject=I%20did%20not%20get%20an%20activation%20email">info@tardisbank.com</a></p>

