@model LoginViewModel

@{
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}
<h2>Log In</h2>
<p>@Html.ValidationSummary()</p>
<div>
    @{ Html.BeginForm(); }
    <table>
        <tr>
            <td><label for="Name">User Name (Email for Parents)</label></td>
            <td>@Html.TextBoxFor(x => x.Name)</td>
        </tr>
        <tr>
            <td><label for="Password">Your Password</label></td>
            <td>@Html.PasswordFor(x => x.Password)</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><input type="submit" value="Log In" /></td>
        </tr>
    </table>
    @{ Html.EndForm(); }
</div>
