<!DOCTYPE html>

<html>
<head>
    <title>Tardis Bank</title>
    <link href="../../Content/Site.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div>
        <!-- start of content -->

@RenderBody()
        
        <!-- end of content -->
    </div>
</body>
</html>
