<!DOCTYPE html>

<html>
<head>
    <title>Tardis Bank</title>
    <link href="../../Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="../../Scripts/jquery-1.4.1.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery.validate.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery.validate.unobtrusive.js" type="text/javascript"></script>
</head>
<body>
    <div id="header">
        <div id="login_status">@Html.Action("Index", "User")</div>
        <h1>Tardis Bank</h1>
        <p>Pocket money on-line banking for kids</p>
    </div>
    <div id="menu">
       @Html.Action("Index", "Menu") 
    </div>
    <div>
        <!-- start of content -->

@RenderBody()
        
        <!-- end of content -->
    </div>
</body>
</html>
