<!DOCTYPE html>

<html>
<head>
    <title>Tardis Bank</title>
    <link href="../../Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="../../Scripts/jquery-1.4.1.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery.validate.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery.validate.unobtrusive.js" type="text/javascript"></script>
</head>
<body>
    <div id="header">
        @Html.Action("Index", "User")
    </div>
    <div>
        <!-- start of content -->

@RenderBody()
        
        <!-- end of content -->
    </div>
</body>
</html>
