

@{
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}

<div class="grid_8 rightline">
    <h2>Why is it called Tardis Bank anyway?</h2>
    <img src="@Url.Content("~/Content/Images/meandleo.jpg")" alt="A photo of Mike and Leo" /><p>&nbsp;</p>
    <p>My son Leo (age 8) and I, that's us above, have a bit of a pocket money problem. He’s supposed to get £2.00 every week, paid on Sunday. He has a Tardis shaped piggy bank, into which he’s supposed to put the £2.00. When he wants to buy something, he’s supposed to get the cash and take it to the shop.</p>
    <p>The thing is, I’m a complete scatter brain and often forget to pay the weekly £2.00. Leo is also very spontaneous in his purchasing habits and will often decide he wants to buy something, but has forgotten to bring along his pocket money. In that situation, I buy whatever it is he wants and tell him that I will deduct it from next week’s pocket money…. which I then promptly forget.</p>
    <p>We frequently have long discussions about how many weeks have gone past since his last payment and what I’ve bought on his behalf in the meantime. We loose all track of his real pocket money balance.</p>
    <p>I really do think that regular pocket money is an important financial education for Leo. He needs to learn how to manage money, but without any proper accounting it just ends up being an arbitrary and irregular hand-over of cash and he learns nothing, except how to beg effectively.</p>
    <p>These days most people don’t keep their money under the mattress. I use my bank’s online banking web site to manage my finances. What Leo needs is something similar for his pocket money. </p>
    <p>I'm a freelance software engineer, if you're feeling particularly geeky you can check out <a class="text_link" href="http://mikehadlow.blogspot.com">my blog, Code Rant</a>. Once I started to think about our requirements I realised that it would be pretty straightforward to put together a simple web application. I also realised that there was no reason why I couldn't make it available to anyone who wanted something similar. </p>
    <p>So Tardis Bank was born. I built it purely to 'scratch and itch', it's completely non-commercial. You can get the source code by following the link on the right. I hope you find it useful. Drop me a line using the email address on the right if you have any comments or suggestions. </p>
    <p>Happy Banking!</p>
    <p>Mike Hadlow 1st November 2010</p>
</div>

<div class="grid_3">
    <h2>Contact Us</h2>
    <p><a href="mailto:info@tardisbank.com">info@tardisbank.com</a></p>
    <h2>Open Source</h2>
    <p>Tardis Bank is Open Source software. It's licenced under the terms of the <a class="text_link" href="http://www.apache.org/licenses/LICENSE-2.0.html">Apache 2 open source licence</a>.</p>
    <p><a href="http://github.com/mikehadlow/Suteki.TardisBank">Get The Source</a></p>
</div>

