@{
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}

<div class="grid_4 rightline">
    <h2>Kids</h2>
    <p>Piggy banks full of loose change are sooo 20th century.</p>
    <p>With Tardis Bank you get your own on-line pocket money bank account. You'll be able to keep track of how much your parents owe you, and how much you can spend.</p>
    <p>Since no real money changes hands, there's no age limit.</p>
    <p>It's really easy. Just get your Mum or Dad to register by clicking the button on this page. Within minutes you'll have your bank account set up.</p>
</div>
<div class="grid_4 rightline">
    <h2>Parents</h2>
    <p>You are the bank.</p>
    <p>Tardis bank is a virtual pocket money bank account. It's entirely free, we don't see a penny of your money, it's simply a way for your kids to learn financial literacy. It also makes it much easier for you to keep track of how much pocket money they should be getting.</p>
    <p>After you register, you create accounts for your children and setup a pocket money payment schedule. You can also make additional payments into their account at any time, which is great for Christmas and birthdays. When your child wants to withdraw cash, they click a withdraw button and you will get a message, either by email or by checking your messages on the website, then you hand the money directly to them.</p>
    <p>Register now, it only takes a minute and all we need is your email address (which we won't give out to anyone else).</p>
    <p><a href="User/Register">Parents Sign Up</a></p>
</div>
<div class="grid_3">
    <h2>Already Signed Up?</h2>
    <p><a href="User/Login">Login Here</a></p>
</div>
<div class="clear"></div>


