

@{
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}

<div class="grid_8 rightline">
    <h2>Legal Stuff</h2>
    <p>Tardis Bank is for educational use only.</p>
    <p>While we do our best to make sure it works properly, we make no guarantees about either the integrity or the safety of your data.</p>
    <p>We are not liable for any loss or inconvenience you may experience as a consequence of using this site.</p>
</div>

<div class="grid_3">&nbsp;</div>

